@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/user-component.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: -0.5px;
  color: #2e363e;
}

.main-screen {
  padding: 0 24px;
  margin-bottom: 96px;
}
