/* Homework - Player */
:root {
  --shadow-sm: 0 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 30px rgba(0, 0, 0, 0.07);
  --lightgray: #a4a4a4;
  --shadow-purple: rgba(126, 1, 94, 0.5);
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: left;
  font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

.outer-display {
  width: 375px;
  height: 812px;
  background-color: #fff;
  margin: 64px;
  border-radius: 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.main {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

.main__top-menu {
  width: calc(375px - 64px);
  padding: 48px 32px 32px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__top-menu span,
.main__artist-buttons span,
.controller__buttons div {
  cursor: pointer;
}

.main__artist-buttons span {
  transform: translateY(0px);
  transition: transform 0.2s ease-in-out;
}

.main__artist-buttons span:hover {
  transform: translateY(-2px);
}

.main__artist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__artist-img img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px var(--shadow-purple);
  margin-bottom: 24px;
}

.main__artist-text h1,
.main__player-text h1 {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 16px;
}

.main__artist-text p,
.main__player-text p {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--lightgray);
}

.main__artist-buttons {
  padding: 32px 0;
  display: flex;
  gap: 24px;
}

.main__artist-buttons span {
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
  padding: 12px 24px;
  box-shadow: var(--shadow-sm);
  border-radius: 40px;
  color: var(--lightgray);
}

.main__artist-buttons .btn-shuffle {
  background-color: #111;
  color: #fff;
}

.main__artist-buttons .btn-like i {
  color: #111;
}

.main__list {
  margin: 24px 0;
  padding: 4px 0;
  width: 100%;
  overflow-y: scroll;
  height: 360px;
}
.main__list::-webkit-scrollbar {
  width: 6px;
}
.main__list::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 8px;
}

.main__list::-webkit-scrollbar-track {
  background-color: #fff;
}

.main__list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
}

.main__list__song {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px;
  /* box-shadow: var(--shadow-sm); */
  border-radius: 20px;
  width: calc(100% - 32px);
  box-sizing: border-box;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 4px;
}

.main__list__song:hover {
  cursor: pointer;
}

.main__list__song:hover,
.main__list__song:active,
.main__list__song-active {
  box-shadow: var(--shadow-sm);
}

.main__list__song-thumbnail {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.main__list__song-thumbnail img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
}

.main__list__song-active .main__list__song-thumbnail .active-play {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.active-play .animation-bar {
  width: 6px;
  height: 16px;
  background-color: #fff;
  border-radius: 4px;
  animation-duration: 1.3s;
  animation-name: animation-bar;
  animation-iteration-count: infinite;
}

@keyframes animation-bar {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.3);
  }
}

.active-play .animation-bar:nth-child(2) {
  animation-delay: 0.3s;
}

.active-play .animation-bar:nth-child(3) {
  animation-delay: 0.6s;
}

.main__list__song-text p {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--lightgray);
}

.main__list__song-text h3 {
  font-weight: 700;
  font-size: 15px;
  color: #111;
}

.main__list__song-buttons {
  position: absolute;
  padding: 8px 12px;
  right: 12px;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}

.main__list__song-buttons:hover {
  opacity: 0.6;
}

.controller {
  position: absolute;
  left: 4%;
  bottom: 16px;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  padding: 16px 32px;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.controller__text p {
  color: #777;
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 6px;
}

.controller__text h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.controller__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.controller__buttons-back,
.controller__buttons-play,
.controller__buttons-next {
  padding: 12px;
}

.controller__buttons-play {
  transform: scaleY(1.7);
}

.controller__buttons div:last-child {
  padding-right: 0;
}

.main__player {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main__player-cover {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.main__player-cover img {
  width: 70%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(126, 1, 94, 0.15);
}

.main__player-text {
  margin-top: 16px;
}

.main__player-bar {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 64px;
}

.main__player-bar-time {
  margin: 0 32px 12px 32px;
  display: flex;
  justify-content: space-between;
  color: var(--lightgray);
  font-size: 13px;
  font-weight: 500;
}

.main__player-bar-graph {
  margin: 0 32px;
  height: 6px;

  position: relative;
}

.main__player-bar-graph .total {
  height: 6px;
  background-color: #ddd;
  border-radius: 16px;
  z-index: 1;
}

.main__player-bar-graph .current {
  position: absolute;
  height: 6px;
  width: 49%;
  top: 0;
  left: 0;

  background-color: #111;
  border-radius: 16px;
  z-index: 2;
}

.main__player-bar-graph .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 48%;
  background-color: #111;
  z-index: 3;
  cursor: pointer;
}

.main__player-controller {
  margin: 0 32px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.main__player-controller span {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.main__player-controller .repeat,
.main__player-controller .random {
  opacity: 0.2;
}

.main__player-controller .play i::before {
  text-shadow: 0 3px 10px rgba(1, 1, 1, 0.4);
}
